@charset "utf-8";

/* dotamasterrace style css */

html, body {
	width: 100%;
	height: 100%;

	padding: 0;
	border: 0;
	margin: 0;

	background-color: #000;
	
	color: #FFF;
}
#banner {
	width: 100%;
	height: 164px;

	background-image: url('../images/banner.png');
	background-repeat: no-repeat;
	background-position: center;
}
a {
	color: #FFF;
}